* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all .2s ease-in;
}

.container {
  max-width: 120rem;
  padding-left: calc(50% - 18rem);
  padding-right: calc(50% - 18rem);

}

#app {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Ubuntu,
  Cantarell,
  "Helvetica Neue",
  sans-serif;
  //font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

ul, li  {
  list-style-type: none;
}
